# Server Configuration
PORT=8080
HOST=0.0.0.0
GIN_MODE=release

# Database Configuration
DB_DRIVER=sqlite
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=zhongzi.db
DB_SSLMODE=disable

# Logging
LOG_LEVEL=info